@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Calibri Light (Headings)', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    
}


.logo{
    text-decoration: none;
    color: white;
    text-transform: none;
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 0.5cm;
    font-family: 'Bradley Hand ITC',  serif;
    
}

.navigation a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 20px;
    font-family: 'Bradley Hand ITC',  serif;
   
}

.navigation a:hover{
    color: wheat;
}

section{
    padding: 100px 200px;
}

.main{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(nk10.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     
}

.main-btn{
    color:black;
    background-color: wheat;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px ;
    border-radius: 13px;
    margin-bottom: 30px;
    transition: 0.7s ease;
    font-family: 'Bradley Hand ITC',  serif;
}

.main-btn:hover {
    background-color: whitesmoke;
    transform: scale(1.05);
    
}

.social-icons a {
    color: white;
    font-size: 1.7em;
    padding-right: 20px;
    
}
.title{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 700;
    font-size: 1.1em;
    font-style: initial;
    letter-spacing: 0.5cm;
    margin-bottom: 30px;
    font-family: 'Bradley Hand ITC',  serif;
    
}
 
.about {
    background-color: white;
}
 .about .content {
    
    display: flex;
    justify-content: center;
    margin-top: 25px ;
     flex-direction: row;
     flex-wrap: wrap;
     font-size: 1.5em;
 }
 h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: wheat;
}
h2:after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: wheat;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px ;
}
.about-box{
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center ;
    align-items: center;
    text-align: center;
    background-color: transparent;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.left{
    height: 100%;
    background: url("nk2.jpg") no-repeat center;
    background-size: cover;
}

.right{
   padding: 25px 40px;
}
 
 
.footer {
    background-color: black;
    color: white;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;

}
.social-icons a {
    color: white;
    font-size: 1.4em;
    padding-right: 10px;
}

@media (max-width: 576px) {
    header {
        padding: 9px 15px;
    }

    .navigation a{
        padding-left: 5px;
    }

    .title {
        font-size: 1.2em;
    }
}

 
